<div>
  <div>
    <div class="row">
      <div class="col s12 m6 l6 offset-m3 offset-l3 ">
    <h3>Current leading game ideas: </h3>
      <ul>
        <% @leading_games.each do |game| %>
         <li><%= link_to "#{game.votes.count} ||| #{game.title}", game_path(game) %></li>
        <% end %>
      </ul>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 l6">
        <h4>Your submitted game ideas:</h4>
        <ul>
          <% @user_games.each do |game| %>
           <li><%= link_to "#{game.votes.count} ||| #{game.title}", game_path(game) %></li>
          <% end %>
        </ul>
      </div>
      <div class="col s12 m6 l6">
        <h4>Game ideas not yet voted on:</h4>
        <ul>
          <% @games_in_vote_que.each do |game| %>
           <li><%= link_to "#{game.votes.count} ||| #{game.title}", game_path(game)  %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
