<div class="game_idea_container">
  <h3><%= game.title %></h3>
  <span>Votes: <%= game.votes.count %></span>
  <h5>Submitted by: <%= game.user.name %></h5>
  <hr>
  <p><%= game.description %></p>
</div>
