<h1>All Game Ideas: </h1>
<div>Total Ideas: <%= @games.size %></div>
<div>Total Users: <%= @user_count %></div>
<hr>
<ul>
  <% @games.each do |game| %>
  <li><%=link_to "#{game.votes.count} ||| #{game.title}", game_path(game) %></li>
  <% end %>
</ul>
